@use "./variables" as *;
@use "./themes";

body {
  font-family: var(--font-heading);
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:hover {
    background-color: var(--color-accent-hover);
  }
}

/* Tekst */
.text-theme {
  color: var(--color-text);
}

.text-muted {
  color: var(--color-muted);
}

.text-heading {
  color: var(--color-heading);
}

.text-accent {
  color: var(--color-accent);
}

.hover\:text-accent:hover {
  color: var(--color-accent);
}

/* Pozadina */
.bg-theme {
  background-color: var(--color-background);
}

.bg-accent {
  background-color: var(--color-accent);
}

.hover\:bg-accent-hover:hover {
  background-color: var(--color-accent-hover);
}

/* Border */
.border-theme {
  border-color: var(--color-border);
}
